  body {
    background-color: #e2e2e2;
  }

  .masonry {
    position: absolute;
    top: 200px;
    z-index: -2;
    column-count: 3;
    column-gap: 0;
  }

  #content {
    width: 50%;
    margin: 5px auto;
    border: 10px solid white;
    border-radius: 12px;
  }

  form {
    width: 50%;
    margin: 20px auto;
  }

  form div {
    margin-top: 5px;
  }

  #img_div {
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cbcbcb;
  }

  #img_div:after {
    content: "";
    display: block;
    clear: both;
  }

  img {

    float: left;
    margin: 0px;
    width: 100%;
    height: auto;
  }


  ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
  }
